<link rel="stylesheet" href="/css/footer.css" />
<footer>
  <div class="containerf">
    <div class="containerf1">
      <nav class="footer-nav">
        <p class="title-small">Support</p>
        <ul class="footer-ul">
          <li>
            <a href="#" class="footer-li body-medium">Help Centre</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium"
              >Get help with a safety issue</a
            >
          </li>
          <li>
            <a href="#" class="footer-li body-medium">AirCover</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Anti-discrimination</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Disability support</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Cancellation options</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium"
              >Report neighbourhood concern</a
            >
          </li>
        </ul>
      </nav>

      <nav class="footer-nav">
        <p class="title-small">Hosting</p>
        <ul class="footer-ul">
          <li>
            <a href="#" class="footer-li body-medium">Host your home</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Host your experience</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Host your services</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">AirCover for Hosts</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Hosting resources</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Community forum</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Hosting responsibly</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium"
              >Join a free Hosting class</a
            >
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Find a co-host</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Refer a host</a>
          </li>
        </ul>
      </nav>

      <nav class="footer-nav">
        <p class="title-small">Livana</p>
        <ul class="footer-ul">
          <li>
            <a href="#" class="footer-li body-medium">2025 Summer Release</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Newsroom</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Careers</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">Investors</a>
          </li>
          <li>
            <a href="#" class="footer-li body-medium">
              Airbnb.org emergency stays</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <hr class="ftr-hr" />

    <div class="ftr-copy containerf2">
      <div>
        <div>&copy; 2025 Liavna, Inc. &sdot; &nbsp;</div>
        <div class="priv">
          <a href="#">Privacy</a> &sdot; <a href="#">Terms</a> &sdot;
          <a href="#">Sitemap</a> &sdot;
          <a href="#">Company details</a>
        </div>
      </div>
      <div class="ftr-net">
        <div class="eng-in">
          <i class="fa-solid fa-globe me-1"></i>
          <div class="main-light">English (IN)</div>
        </div>
        <div class="ftr-inr">₹ INR</div>
        <div class="social-icon">
          <a target="_blank" href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a target="_blank" href="#">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a target="_blank" href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
