<link rel="stylesheet" href="/css/navbar.css" />

<header class="header sticky-top">
  <div class="nav-container">
    <a href="#" class="logo">
      <img
        src="/asset/9515711c20274841758db3d35e593834.jpg"
        alt=""
        width="40px"
      />
      <h1>Livana Propert Rentals</h1>
    </a>
    <div class="search">
      <input type="text" placeholder="Search Destination" />
      <button>
        <span>Search</span>
        <i class="fa-solid fa-magnifying-glass searchIcon"></i>
      </button>
    </div>

    <div class="ham">
      <button class="btn1">List Your Home</button>
      <button class="btn2">
        <i class="fa-solid fa-bars hamIcon"></i>
        <i class="fa-regular fa-circle-user userIcon"></i>
      </button>
    </div>
  </div>
</header>

<script>
  const navToggler = document.querySelector("[data-nav-toggler]");
  const navbar = document.querySelector(".navbar");
  const header = document.querySelector(".header");
  const favBtns = document.querySelectorAll(".fav-btn");
  console.log(favBtns);

  navToggler.addEventListener("click", () => {
    navToggler.classList.toggle("active");
    navbar.classList.toggle("active");
  });

  window.addEventListener("scroll", (e) => {
    header.classList[window.scrollY > 50 ? "add" : "remove"]("active");
  });
</script>

<!-- <nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top"></nav> -->
<!-- <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-bed navIcon"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"></div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Add your property</a>
        <% if (!currUser) { %>
        <a class="nav-link" aria-current="page" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <%}%> <% if (currUser) { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <%}%>
      </div>
    </div>
  </div> -->

<!-- <header class="header sticky-top">
  <div class="container">
    <a href="#">
      <i class="fa-solid fa-bed navIcon"></i>
    </a>
    <nav class="navbar flex">
      <ul class="navbar-list flex">
        <li><a href="#" class="nav-link label-medium active">Home</a></li>
        <li><a href="#" class="nav-link label-medium">Rent</a></li>
        <li><a href="#" class="nav-link label-medium">Sell</a></li>
        <li><a href="#" class="nav-link label-medium">Buy</a></li>
        <li><a href="#" class="nav-link label-medium">About</a></li>
      </ul>
      <div class="nav-btns flex">
        <a href="#" class="btn-link label-medium">Login</a>
        <a href="#" class="btn btn-fill label-medium">Get Started</a>
      </div>
    </nav>
    <button
      class="nav-toggler nav-icon flex"
      aria-label="toggle navbar"
      data-nav-toggler
    >
      <i class="fa-solid fa-bars material-symbols-rounded open"></i>
      <i class="fa-solid fa-xmark material-symbols-rounded close"></i>
    </button>
  </div>
</header> -->
