.conatiner {
  padding: 0 !important;
}

.contact {
  width: 100%;
  height: calc(75vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  margin-top: 3rem;
}

.contact form {
  width: 45%;
  /* height: 100%; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.contacttitle {
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-bottom: 15px;
  text-align: start;
}

.contact-input {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.contact-input label {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.contact-input input {
  width: 100%;
  padding: 7px;
  padding-left: 10px !important;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: black;
  border: 1px solid rgb(71, 71, 70);
}

.contact-input input::placeholder {
  opacity: 0.5;
}

.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(71, 71, 70) !important;
}

.contact-btn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(247, 8, 8);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  margin-top: 12px;
  width: 30%;
}

.two-inputs {
  display: flex;
  width: 100%;
  gap: 15px;
}

.input1,
.input2 {
  width: 90%;
}

.input2::placeholder {
  color: rgb(65, 65, 65);
  opacity: 0 !important;
}

@media (max-width: 500px) {
  .contact form {
    width: 70%;
  }
}

@media (max-width: 300px) {
  .contact form {
    width: 75%;
  }
}
