.header {
  width: 100%;
  height: 5.5rem;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.active {
  background-color: white;
  height: 11vh;
  animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header .nav-container {
  height: 100%;
  border-bottom: 0.5px solid rgba(117, 111, 111, 0.479);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo h1 {
  font-size: 18px;
  font-weight: 300;
  color: rgb(247, 8, 8);
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.search input {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 20px;
  border: 1px solid rgba(125, 122, 122, 0.416);
  font-size: 15px;
  color: black;
  outline: none;
}
.search button {
  padding: 10px;
  background-color: rgb(247, 8, 8);
  color: white;
  font-size: 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.1s;
}

.searchIcon {
  color: white;
  transition: all 0.1s;
}

.search button:hover {
  border: 2px solid red;
  background: transparent;
  color: red;
}

.search button:hover .searchIcon {
  color: red;
}

.ham {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.btn1 {
  border: none;
  outline: none;
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  transition: all 0.1s;
}
.btn1:hover {
  background-color: rgba(232, 230, 230, 0.844);
}

.btn2 {
  border: 1px solid rgba(97, 93, 93, 0.844);
  outline: none;
  background-color: white;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.1s;
}

.btn2:hover {
  box-shadow: 2px 2px 10px black;
}

.hamIcon {
  font-size: 16px;
  color: rgba(92, 89, 89, 0.651);
}

.userIcon {
  font-size: 22px;
  color: rgba(92, 89, 89, 0.651);
}

/* .nav-icon .close,
.nav-icon.active .open {
  display: none;
}

.nav-icon.active .close,
.nav-icon .open {
  display: block;
}

.navbar {
  background-color: #fafcff;
  position: absolute;
  top: 85%;
  right: 1.6rem;
  border-radius: 16px;
  padding: 10px;
  min-width: 26rem;
  box-shadow: 0px 2px 4px 0px #00000033;
  transition: 200ms cubic-bezier(0, 0.7, 0.3, 1);
  transform: scale(0.4);
  visibility: hidden;
  opacity: 0;
}

.navbar.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.navbar,
.navbar-list,
.nav-btns {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.nav-link,
.btn-link {
  padding: 6px 10px;
  color: #494a4d;
  transition: 200ms cubic-bezier(0, 0.7, 0.3, 1);
}

.btn-link {
  width: 100%;
  border-block-start: 1px solid #dadfe5;
  padding-block-start: 1.6rem;
}

:is(.nav-link, .btn-link):is(:hover, :focus),
.nav-link.active {
  color: #fafcff;
} */
