.slider {
  width: 100%;
  height: 30rem;
  display: flex;
  gap: 1rem;
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 0.675rem;
  cursor: pointer;
  object-fit: cover;
}

.bigImg {
  flex: 3;
}

.smallImgs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;

  img {
    height: 9.5rem;
  }
}

.conatiner {
  padding-inline: 7rem !important;
}

/* Slider Styling */

.hidden {
  display: none !important;
}

.fullSlider {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fullSlider i {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.arrow {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  flex: 10;

  #fullImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.rightArrow {
  transform: rotate(180deg);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .conatiner {
    padding-inline: 4rem !important;
  }
}

@media (max-width: 1000px) {
  .conatiner {
    padding-inline: 1rem !important;
  }
}

@media (max-width: 700px) {
  .slider {
    height: 22rem;
  }
}

@media (max-width: 500px) {
  .slider {
    overflow-x: scroll;
    img {
      min-width: 300px;
    }
  }

  .smallImgs {
    flex-direction: row;

    img {
      height: 100%;
    }
  }

  .bigImg {
    flex: 1;
  }
}
