.conatiner {
  padding: 0 !important;
}

.signup {
  width: 100%;
  height: calc(75vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  margin-top: 3rem;
}

.signup form {
  width: 45%;
  /* height: 100%; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.signuptitle {
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-bottom: 15px;
  text-align: start;
}

.signup-input {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.signup-input label {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.signup-input input {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: black;
  border: 1px solid rgb(71, 71, 70);
}

.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(71, 71, 70) !important;
}

.signup-btn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(247, 8, 8);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  margin-top: 12px;
  width: 90%;
}

.oAuth-setup {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 45%;
  gap: 0.5rem;
}

.auth-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
}

.btn-google span {
  font-size: 1rem;
}
.btn-google:hover {
  background-color: #f1f1f1;
}

.bottom-text {
  color: #545454;
  font-size: 0.8rem;
  opacity: 0.8;
}

.bottom-text b a {
  color: rgb(247, 8, 8);
  font-size: 1rem;
}

@media (max-width: 650px) {
  .signup form {
    width: 60%;
  }

  .oAuth-setup {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .signup form {
    width: 70%;
  }

  .oAuth-setup {
    width: 70%;
  }
}

@media (max-width: 300px) {
  .signup form {
    width: 75%;
  }

  .oAuth-setup {
    width: 75%;
  }
}
