@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* basic styling */

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
.conatiner {
  flex: 1 !important;
  padding-inline: 2rem !important;
}
.flex {
  display: flex;
  align-items: center !important;
}

a {
  text-decoration: none !important;
  color: #222222;
}

.wrap {
  flex-wrap: wrap !important;
}

/* Navbar Styling */

.navIcon {
  color: #fe424d;
  font-size: 2rem;
}

nav {
  height: 5rem;
  background-color: white;
}

.nav-link {
  color: #222222 !important;
}

/* Footer Styling */

.footer-content {
  text-align: center;
  background-color: #f7f7f7;
  padding-block: 1rem;
}

.links {
  justify-content: center;
}

.brand-info {
  line-height: 3rem;
}

.fa-brands {
  font-size: 1.2rem;
}

/* Listing Card Styling */

.listing-card {
  border: none;
  margin-bottom: 2rem;
}
.card-img-top {
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}

.card-body {
  padding: 0;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background: #fff;
}

/* Show Styling */

/* Map styling */

#map {
  height: 300px;
  width: 100vh;
}
